.body_bg_image {
    background-image: url("http://sfmta.com/sites/default/files/projects/aep_228b_6_1.jpg");
    background-size:cover;
    opacity: .5;
}
.login_box{
	padding-top: 15%;
	padding-left: 13%;
	padding-bottom: 20%
}
.login_container{
	padding-top: 5%;
	padding-left: 5%;
	border-style: solid;
	border-color: black
}
.username_textbox{
	padding-top: 5%;
	padding-bottom: 3%
}
.password_textbox{
	padding-top: 5%;
	padding-bottom: 2%
}
.login_button{
	padding-top: 5%;
	padding-left: 14%
}
.footer{
	padding-top: 50%;
}
.footer_container{
	height: 100px;
	 background: black;
}
.register{
	padding-top: 5%;
	color:blue
}
.register_textbox{
	padding-top: 5%;
}
.register_button{
	padding-top: 5%;
	padding-bottom: 5%;
}
.errorbox{
	color:red;
	font-style: italic
}
.successbox{
	color:green;
	font-style: italic
}