

<div class="col-xs-8 col-md-12 carousel_container">
	<div class="">
		<div class="col-md-8">
			<!-- Carousel
    ================================================== -->
			<div id="myCarousel" class="carousel slide">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img src="../images/bike.1.png" alt="First slide">
						<div class="container">
							<div class="">
								<h1>Healthy Lifestyle</h1>
								<p>
									
								</p>
								<p>
									<a class="btn btn-lg btn-primary" href="#signup" >Sign
										up today</a>
								</p>
							</div>
						</div>
					</div>

					<div class="item">
						<img src="../images/bike.2.png" alt="Second slide">
						<div class="container">
							<div class="">
								<h1>Multiple Locations</h1>
								<p></p>
								<p>
									<a class="btn btn-lg btn-primary" href="#signup" >Sign
										up today</a>
								</p>
							</div>
						</div>
					</div>
					
					<div class="item">
						<img src="../images/bike.3.png"alt="Third slide">
						<div class="container">
							<div class="">
								<h1>Say No To Traffic</h1>
								<p></p>
								<p>
									<a class="btn btn-lg btn-primary" href="#signup" >Sign
										up today</a>
								</p>
							</div>
						</div>
					</div>

				</div>

				<a class="left carousel-control"
					href="#myCarousel" role="button" data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a> <a class="right carousel-control"
					href="#myCarousel" role="button" data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="">
			<div class="login_box" ng-controller="loginformcontroller">
				<div class="">
					<div class="">
						<div class="">
							<div class=""></div>
							<div class="">
								<form>
									<div class="col-lg-4 username_textbox">
										<input type="text" class="form-control" placeholder="username"
											ng-model="loginform_username" ng-maxlength="30" size="20"
											autofocus />
									</div>
									<div class="col-lg-4 password_textbox">
										<input type="text" class="form-control" placeholder="password"
											ng-model="loginform_password" ng-maxlength="20" />
									</div>
									<div class="col-lg-4 login_button">
										<button class="btn btn-lg btn-primary btn-block" type="button"
											ng-click="loginform_getAuthenticated()">login</button>

									</div>
									<div class="register">
										<a href="#signup">Don't have account? Register Now !!!</a>
									</div>
									<div class="errorbox" style="margin-left:75%; padding-top:2%">{{loginform_error}}</div>

								</form>
							</div>
							<div class=""></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#myCarousel').carousel({
			interval : 3000
		});
	});
</script>

