<div class="container-fluid login_box" ng-controller="signupformcontroller">
          <div class="row">
              <div class="col-xs-12 col-md-8">
                  <div class="row">
                      <div class="col-md-3">
                      </div>
                      <div class="login_container col-md-12">
                        <form >
                          <div class="input-group input-group-lg register_textbox">
                            <input type="text" class="form-control" placeholder="Name" size="50" ng-model="signupform_name">
                          </div>
                          <div class="input-group input-group-lg  register_textbox">
                            <input type="text" class="form-control" placeholder="Email" size="50" ng-model="signupform_email">
                          </div>
                           <div class="input-group input-group-lg  register_textbox">
                            <input type="text" class="form-control" placeholder="Phone" size="50" ng-model="signupform_phone">
                          </div>
                           <div class="input-group input-group-lg  register_textbox">
                            <input type="text" class="form-control" placeholder="Address" size="50" ng-model="signupform_address">
                          </div>
                           <div class="input-group input-group-lg  register_textbox">
                            <input type="text" class="form-control" placeholder="Zipcode" size="50" ng-model="signupform_zipcode">
                          </div>
                           <!-- <div class="input-group input-group-lg  register_textbox">
                            <input type="text" class="form-control" placeholder="Credit Card Number" size="50">
                          </div> -->
                           <div class="input-group input-group-lg  register_textbox">
                            <input type="text" class="form-control" placeholder="Username" size="50" ng-model="signupform_username">
                          </div>
                           <div class="input-group input-group-lg  register_textbox">
                            <input type="text" class="form-control" placeholder="Password" size="50" ng-model="signupform_password">
                          </div>
                          <div class="input-group register_button">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="signupform_signup()">Register</button>
                            </span>
                          </div>
                          
                          <div class="errorbox">
                            <ul>
                              <li ng-repeat="error in signupform_error">
                                {{ error }}
                              </li>
                            </ul>
                          </div>
                          <div class="successbox">
                            {{signupform_success}}
                          </div>

                        </form>
                      </div>
                      <div class="col-md-3">
                      </div>
                  </div>
              </div>
           </div>
      </div>